.abonament-iron{
    color: hsl(0, 0%, 66%);;
}

.abonament-emerald{
    color: hsl(84, 100%, 40%);
}

.abonament-gold{
    color: hsl(40, 100%, 50%);;
}

.abonament-diamond{
    color: hsl(180, 100%, 40%);;
}


.c-1{color: #000}
.c-2{color: #00A}
.c-3{color: #0A0}
.c-4{color: #0AA}
.c-5{color: #A00}
.c-6{color: #A0A}
.c-7{color: #FA0}
.c-8{color: #AAA}
.c-9{color: #555}
.c-10{color: #55F}
.c-11{color: #5F5}
.c-12{color: #F55}
.c-13{color: #F5F}
.c-14{color: #FF5}
.c-15{color: #FFF}
.c-16{color: #000}
