*, *::before, *::after{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background: url(https://mc.skript.pl/images/gallery/full/libter1.png);
}

.container{
    margin: 10px 5px;
}

.search-bar{
    display: flex;
    justify-content: center;
}

.search-bar_input{
    width: 95%;
    height: 40px;
    border-color: #212529;
    background-color: #f4f5f7;
    padding: 7px;
}

.user-info{
    position: relative;
    margin: 25px 2.5%;
    padding: 15px;

    background-color: #f4f5f7;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
}

.user-info_details{
    margin-top: 25px;
    
    display:flex;
    flex-direction: column;
    align-items: center;
}

.user-info_details_item{
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-info_details_item p{
    margin: 3px 0;
}

.user-info_details_item-header{
    font-weight: bold;
    font-size: 20px;
}
.user-info_details_item-caption{
    font-weight: bold;
}


.blur{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
    align-items: center;
    justify-content: center;
}

#noPlayerFound{
    display: none;
}

#spinner{
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #333; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 0.7s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container{
      width: 100%;
      max-width: 768px;
  }

  .user-info_details{
      flex-direction: row;
  }
}